
<div class="container-md" id="answer">
  <h1>You:</h1>
  <p><%= @question %></p>

  <h1>Coach:</h1>
  <% if @question.include?("?") %>
    <p>Silly question, get dressed and go to work!</p>
  <% elsif @question == "I am going to work" %>
    <p>Great!</p>
  <% else %>
    <p>I don't care, get dressed and go to work!</p>
  <% end %>

  <%= link_to "Ask another question", ask_path, class: "btn btn-primary" %>
</div>
